<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 	  
<mapper namespace="com.spring.lifecare.persistence.UserDAO">
	<select id = "selectUser" parameterType="String" resultType = "java.util.Map">
      SELECT customer_id as username, customer_pw as password, customer_name as name, enabled, authority, customer_echeck
        FROM customer
       WHERE customer_id=#{userid}  
   </select>
   
   <select id = "kakaoFindId" parameterType="String" resultType = "java.util.Map">
      SELECT customer_id as username, customer_name as name, enabled, authority
        FROM customer
       WHERE kakaoId=#{kakaoId}  
   </select>
   
<!-- 아이디 중복확인 -->
   <select id ="idCheck" parameterType="String" resultType="int" >
     SELECT count(*)  FROM customer WHERE customer_id=#{customer_id} 
   </select>
  <!-- 핸드폰 번호 중복확인 --> 
   <select id ="phoneCheck" parameterType="String" resultType="int" >
     SELECT count(*)  FROM customer WHERE customer_phone=#{customer_phone} 
   </select>
   <!-- 이메일 중복확인 -->
   <select id ="emailCheck" parameterType="String" resultType="int" >
     SELECT count(*)  FROM customer WHERE customer_email=#{customer_email} 
   </select>
  <!--  회원가입 처리 -->
   <insert id ="insertMember" parameterType="com.spring.lifecare.vo.CustomerVO">
     INSERT INTO customer (customer_id, customer_pw, customer_name, customer_phone, customer_email) VALUES (#{customer_id}, #{customer_pw},#{customer_name},#{customer_phone},#{customer_email})
   </insert>
   <!-- 이메일 인증 후 로그인 처리 --> 
   <update id="approvalMember" parameterType="String">
	  UPDATE customer set customer_echeck = 1 WHERE customer_email = #{customer_email} 
   </update>   
  <!--  아이디 찾기 --> 
   <select id ="findId"  parameterType="String" resultType="String">
      SELECT customer_id FROM customer WHERE customer_phone=#{customer_phone}
   </select>
   
  <!--  의사 아이디 중복확인 -->
   <select id ="CheckId" parameterType="String" resultType="int" >
     SELECT count(*)  FROM doctor WHERE doctor_id=#{doctor_id} 
   </select>
   <!-- 의사 핸드폰 번호 중복확인  -->
   <select id ="CheckPhone" parameterType="String" resultType="int" >
     SELECT count(*)  FROM doctor WHERE doctor_phone=#{doctor_phone} 
   </select>
   <!-- 의사 이메일 중복확인 -->
   <select id ="CheckEmail" parameterType="String" resultType="int" >
     SELECT count(*)  FROM doctor WHERE doctor_email=#{doctor_email} 
   </select>
   
   <!-- 의사 면허번호 중복확인 -->
   <select id ="CheckNum" parameterType="String" resultType="int" >
     SELECT count(*)  FROM doctor WHERE doctor_num=#{doctor_num} 
   </select>
   
  <!--  /////////////////////////// 약찾기////////////////////////// -->
   <select id="searchDrug" parameterType="java.util.Map" resultType="com.spring.lifecare.vo.DrugVO">
   		SELECT * FROM ( 
        SELECT  drug_number ,drug_name, drug_enptname, drug_shape , drug_productimage, drug_frontShape ,drug_formulation , drug_color,drug_size_l, drug_size_s,drug_size_w,drug_category ,drug_division,drug_license_date,drug_effect ,drug_storage, drug_expiration_date,drug_dosage,drug_additives, drug_precautions,rowNum rNum
        FROM( SELECT * FROM DRUG 
        WHERE  
   		<choose>
   		<!-- 5C5 -->
   			<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_shape.length ==0  and drug_form.isEmpty() and drug_color.length ==0" >
	   			1=1
	   		</when>
   		
   		<!-- 5C4 -->
   			<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_shape.length ==0 and drug_form.isEmpty()" >
	   			drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
   			<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_shape.length ==0 and drug_color.length ==0" >
	   			 regexp_like(drug_formulation,#{drug_form})
	   			
	   		</when>
   			<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_form.isEmpty() and drug_color.length ==0" >
	   			drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   		</when>
   			<when test="drug_name.isEmpty() and drug_shape.length ==0  and drug_form.isEmpty() and drug_color.length ==0" >
	   			drug_enptname like '%'||#{drug_enptname}||'%' 
	   		</when>
   			<when test="drug_enptname.isEmpty() and drug_shape.length ==0  and drug_form.isEmpty() and drug_color.length ==0" >
	   			drug_name like '%'||#{drug_name}||'%'
	   		</when>
   		
   		<!-- 5C3  	 -->
	   		<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_shape.length ==0 " >
	   			regexp_like(drug_formulation,#{drug_form})
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		
	   		<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_form.isEmpty() " >
	   			drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   			#{shape}
	   			</foreach>
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_color.length ==0 " >
	   			drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   			#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   		
	   		<when test="drug_name.isEmpty() and drug_shape.length == 0 and drug_form.isEmpty() " >
	   			 drug_enptname like '%'||#{drug_enptname}||'%' 
	   			 and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		
	   		<when test="drug_name.isEmpty() and drug_shape.length == 0 and drug_color.length ==0 " >
	   			 drug_enptname like '%'||#{drug_enptname}||'%' 
	   			 and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   		
			<when test="drug_name.isEmpty() and drug_form.isEmpty() and drug_color.length ==0" >
	   			 drug_enptname like '%'||#{drug_enptname}||'%' 
	   			 and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   		</when>
	   		
	   		<when test="drug_enptname.isEmpty() and drug_shape.length == 0 and drug_form.isEmpty() " >
	   			drug_name like '%'||#{drug_name}||'%'
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		 		
	   		<when test="drug_enptname.isEmpty() and drug_shape.length == 0 and drug_color.length ==0" >
	   			drug_name like '%'||#{drug_name}||'%'\
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   		 		
	   		 <when test="drug_enptname.isEmpty() and drug_form.isEmpty() and drug_color.length ==0" >
	   			drug_name like '%'||#{drug_name}||'%'
	   			and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   		</when>		
	   		
	   		<when test="drug_shape.length == 0 and drug_form.isEmpty() and drug_color.length ==0" >
	   			drug_name like '%'||#{drug_name}||'%'
	   			and drug_enptname like '%'||#{drug_enptname}||'%' 
	   		</when>
	   		
		<!-- 5C2 -->  		
	   		 <when test="drug_name.isEmpty() and drug_enptname.isEmpty() " >
	   			drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when> 
	   	
	   		<when test="drug_name.isEmpty() and drug_shape.length == 0" >
	   			 drug_enptname like '%'||#{drug_enptname}||'%'
	   			 and regexp_like(drug_formulation,#{drug_form})
	   			 and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		
	   		<when test="drug_name.isEmpty() and drug_form.isEmpty()" >
	   			drug_enptname like '%'||#{drug_enptname}||'%'
	   			and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		
	   		<when test="drug_name.isEmpty() and drug_color.length ==0" >
	   			drug_enptname like '%'||#{drug_enptname}||'%'
	   			and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   	
	   		<when test="drug_enptname.isEmpty() and drug_shape.length == 0">
	   		 	drug_name like '%'||#{drug_name}||'%'
	   		 	and regexp_like(drug_formulation,#{drug_form})
	   		 	and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		
	   		<when test="drug_enptname.isEmpty() and drug_form.isEmpty()">
	   			drug_name like '%'||#{drug_name}||'%'
	   			and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   			#{shape}
	   			</foreach>
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   	
	   		<when test="drug_enptname.isEmpty() and drug_color.length ==0">
	   			drug_name like '%'||#{drug_name}||'%'
	   			and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   			#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   		
	   		
	   		<when test="drug_shape.length == 0 and drug_form.isEmpty()">
	   			and drug_name like '%'||#{drug_name}||'%'
	   			drug_enptname like '%'||#{drug_enptname}||'%' 
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		<when test="drug_shape.length == 0 and drug_color.length ==0">
	   			and drug_name like '%'||#{drug_name}||'%'
	   			drug_enptname like '%'||#{drug_enptname}||'%' 
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   		
	   		
	   		<when test="drug_form.isEmpty() and drug_color.length ==0 ">
	   			and drug_name like '%'||#{drug_name}||'%'
	   			drug_enptname like '%'||#{drug_enptname}||'%' 
	   			and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   			#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   		
	   	
		<!-- 5C1 -->	
	   		<when test="drug_name.isEmpty()">
	   			drug_enptname like '%'||#{drug_enptname}||'%'
	   			and 
	   			drug_shape IN
   				<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>

	   		<when test="drug_enptname.isEmpty()">
	   			drug_name like '%'||#{drug_name}||'%'
	   			and 
	   			drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>	 
	   		  		
	   		<when test="drug_shape.length == 0">
	   			 drug_enptname like '%'||#{drug_enptname}||'%'
	   			 and 
	   			 drug_name like '%'||#{drug_name}||'%'
	   			 and regexp_like(drug_formulation,#{drug_form})
	   			 and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>	 
	   		
	   		<when test=" drug_form.isEmpty()">
	   			 drug_enptname like '%'||#{drug_enptname}||'%'
	   			 and drug_name like '%'||#{drug_name}||'%'
	   			 and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>	 
	   		
	   		<when test="drug_color.length ==0 ">
	   			drug_enptname like '%'||#{drug_enptname}||'%' 
	   			and drug_name like '%'||#{drug_name}||'%'
	   			 and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
		<!-- 5C0  -->  		
	   		<otherwise>
	   			drug_enptname like '%'||#{drug_enptname}||'%' 
	   			and drug_name like '%'||#{drug_name}||'%'
	   			 and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   			 and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</otherwise>
   		</choose>
   		<![CDATA[
   		  order by drug_name, drug_enptname, drug_number, drug_shape, drug_color))
      	  WHERE rNum >= #{start} AND rNum <= #{end}
      	 ]]>
   </select>
   

  <!--  검색 count  -->  
   <select id="searchDrugCount" resultType="int" parameterType="java.util.Map">
		SELECT count(*) FROM  DRUG  WHERE  
   		<choose>
   		<!-- 5C5 -->
   			<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_shape.length ==0  and drug_form.isEmpty() and drug_color.length ==0" >
	   			1=1
	   		</when>
   		
   		<!-- 5C4 -->
   			<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_shape.length ==0 and drug_form.isEmpty()" >
	   			drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
   			<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_shape.length ==0 and drug_color.length ==0" >
	   			 regexp_like(drug_formulation,#{drug_form})
	   			
	   		</when>
   			<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_form.isEmpty() and drug_color.length ==0" >
	   			drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   		</when>
   			<when test="drug_name.isEmpty() and drug_shape.length ==0  and drug_form.isEmpty() and drug_color.length ==0" >
	   			drug_enptname like '%'||#{drug_enptname}||'%' 
	   		</when>
   			<when test="drug_enptname.isEmpty() and drug_shape.length ==0 and drug_form.isEmpty()and drug_color.length ==0" >
	   			drug_name like '%'||#{drug_name}||'%'
	   		</when>
   		
   		<!-- 5C3   --> 	
	   		<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_shape.length ==0 " >
	   			regexp_like(drug_formulation,#{drug_form})
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		
	   		<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_form.isEmpty() " >
	   			drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   			#{shape}
	   			</foreach>
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		<when test="drug_name.isEmpty() and drug_enptname.isEmpty() and drug_color.length ==0 " >
	   			drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   			#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   		
	   		<when test="drug_name.isEmpty() and drug_shape.length == 0 and drug_form.isEmpty() " >
	   			 drug_enptname like '%'||#{drug_enptname}||'%' 
	   			 and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		
	   		<when test="drug_name.isEmpty() and drug_shape.length == 0 and drug_color.length ==0 " >
	   			 drug_enptname like '%'||#{drug_enptname}||'%' 
	   			 and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   		
			<when test="drug_name.isEmpty() and drug_form.isEmpty() and drug_color.length ==0" >
	   			 drug_enptname like '%'||#{drug_enptname}||'%' 
	   			 and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   		</when>
	   		
	   		<when test="drug_enptname.isEmpty() and drug_shape.length == 0 and drug_form.isEmpty() " >
	   			drug_name like '%'||#{drug_name}||'%'
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		 		
	   		<when test="drug_enptname.isEmpty() and drug_shape.length == 0 and drug_color.length ==0" >
	   			drug_name like '%'||#{drug_name}||'%'
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   		 		
	   		 <when test="drug_enptname.isEmpty() and drug_form.isEmpty() and drug_color.length ==0" >
	   			drug_name like '%'||#{drug_name}||'%'
	   			and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   		</when>		
	   		
	   		<when test="drug_shape.length == 0 and drug_form.isEmpty() and drug_color.length ==0" >
	   			drug_name like '%'||#{drug_name}||'%'
	   			and drug_enptname like '%'||#{drug_enptname}||'%' 
	   		</when>
	   		
		<!-- 5C2  --> 		
	   		 <when test="drug_name.isEmpty() and drug_enptname.isEmpty() " >
	   			drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when> 
	   	
	   		<when test="drug_name.isEmpty() and drug_shape.length == 0" >
	   			 drug_enptname like '%'||#{drug_enptname}||'%'
	   			 and regexp_like(drug_formulation,#{drug_form})
	   			 and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		
	   		<when test="drug_name.isEmpty() and drug_form.isEmpty()" >
	   			drug_enptname like '%'||#{drug_enptname}||'%'
	   			and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		
	   		<when test="drug_name.isEmpty() and drug_color.length ==0" >
	   			drug_enptname like '%'||#{drug_enptname}||'%'
	   			and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   	
	   		<when test="drug_enptname.isEmpty() and drug_shape.length == 0">
	   		 	drug_name like '%'||#{drug_name}||'%'
	   		 	and regexp_like(drug_formulation,#{drug_form})
	   		 	and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		
	   		<when test="drug_enptname.isEmpty() and drug_form.isEmpty()">
	   			drug_name like '%'||#{drug_name}||'%'
	   			and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   			#{shape}
	   			</foreach>
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   	
	   		<when test="drug_enptname.isEmpty() and drug_color.length ==0">
	   			drug_name like '%'||#{drug_name}||'%'
	   			and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   			#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   		
	   		
	   		<when test="drug_shape.length == 0 and drug_form.isEmpty()">
	   			and drug_name like '%'||#{drug_name}||'%'
	   			drug_enptname like '%'||#{drug_enptname}||'%' 
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>
	   		<when test="drug_shape.length == 0 and drug_color.length ==0">
	   			and drug_name like '%'||#{drug_name}||'%'
	   			drug_enptname like '%'||#{drug_enptname}||'%' 
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   		
	   		
	   		<when test="drug_form.isEmpty() and drug_color.length ==0 ">
	   			and drug_name like '%'||#{drug_name}||'%'
	   			drug_enptname like '%'||#{drug_enptname}||'%' 
	   			and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   			#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
	   		
	   	
		<!-- 5C1	 -->
	   		<when test="drug_name.isEmpty()">
	   			drug_enptname like '%'||#{drug_enptname}||'%'
	   			and 
	   			drug_shape IN
   				<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>

	   		<when test="drug_enptname.isEmpty()">
	   			drug_name like '%'||#{drug_name}||'%'
	   			and 
	   			drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>	 
	   		  		
	   		<when test="drug_shape.length == 0">
	   			 drug_enptname like '%'||#{drug_enptname}||'%'
	   			 and 
	   			 drug_name like '%'||#{drug_name}||'%'
	   			 and regexp_like(drug_formulation,#{drug_form})
	   			 and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>	 
	   		
	   		<when test=" drug_form.isEmpty()">
	   			 drug_enptname like '%'||#{drug_enptname}||'%'
	   			 and drug_name like '%'||#{drug_name}||'%'
	   			 and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</when>	 
	   		
	   		<when test="drug_color.length ==0 ">
	   			drug_enptname like '%'||#{drug_enptname}||'%' 
	   			and drug_name like '%'||#{drug_name}||'%'
	   			 and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   		</when>
		<!-- 5C0  -->  		
	   		<otherwise>
	   			drug_enptname like '%'||#{drug_enptname}||'%' 
	   			and drug_name like '%'||#{drug_name}||'%'
	   			 and drug_shape IN
	   			<foreach collection="drug_shape" item="shape" open="(" close=")" separator=",">
	   				#{shape}
	   			</foreach>
	   			and regexp_like(drug_formulation,#{drug_form})
	   			 and drug_color IN
	   			<foreach collection="drug_color" item="color" open="(" close=")" separator=",">
	   				#{color}
	   			</foreach>
	   		</otherwise>
   		</choose>
   		  order by drug_name, drug_enptname, drug_number, drug_shape, drug_color
	</select>

	<!-- 약상세 -->
	<select id="drugDetail" parameterType="java.util.Map" resultType="com.spring.lifecare.vo.DrugVO">
 		SELECT * FROM DRUG WHERE drug_number =#{drug_number}
 	</select>
</mapper>  	  
