@charset "UTF-8";

.class{
	visibility: visible;
	color: #000;
	font-size: 16px;
	word-spacing: 0;
	letter-spacing: -.5px;
	vertical-align: baseline;
	margin: 0;
	border-radius: 0;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
	font-weight: 400;
	outline: 0!important;
	min-height: 167px;
	margin-top: 0;
	padding: 37px 40px;
	background: url(/asset/img/common/bg_type05.jpg) no-repeat 100% 0 #d2d6e1;
}

.boxTit{
	visibility: visible;
	word-spacing: 0;
	padding: 0;
	border-radius: 0;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Noto Sans KR Bold','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
	outline: 0!important;
	font-weight: 700;
	letter-spacing: -1px;
	display: block;
	margin: 15px 0;
	color: #000;
	font-size: 28px;
		
}

.title{
	visibility: visible;
	word-spacing: 0;
	letter-spacing: -.5px;
	word-break: keep-all;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border-radius: 0;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
	font-weight: 400;
	outline: 0!important;
	color: #000;
	font-size: 20px;
}
.pbor{
	float:inherit;
	margin-left:500px;
	width: 950px;
	padding: 20px;
	
	
}

.listText col2{
	
	font-size: 16px;
	word-spacing: 0;
	letter-spacing: -.5px;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border-radius: 0;
	text-size-adjust: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
	font-weight: 400;
	outline: 0!important;
	color: #666;
	padding-top: 185px;
	
}
.boxTypeGray paRightsImg bgType05{
	visibility: visible;
	color: #000;
	font-size: 16px;
	word-spacing: 0;
	letter-spacing: -.5px;
	vertical-align: baseline;
	margin: 0;
	border-radius: 0;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
	font-weight: 400;
	outline: 0!important;
	min-height: 167px;
	margin-top: 0;
	padding: 37px 40px;
	background-image: url(/lifecare/resources/img/bg_type05.jpg) no-repeat 100% 0 #d2d6e1;
}

#content {
    word-spacing: 0;
    letter-spacing: -.5px;
}

.current{
	
	visibility: visible;
	font-size: 16px;
	word-spacing: 0;
	letter-spacing: -.5px;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border-radius: 0;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	list-style: none;
	-webkit-tap-highlight-color: transparent;
	font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
	font-weight: 400;
	outline: 0!important;
	text-decoration: none;
	display: block;
	height: 48px;
	margin-left: -1px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 48px;
	border-color: #2263bb;
	color: #fff;
	background-color: #2263bb;
		
}

.button{
					visibility: visible;
					margin: 0 0;
					border-radius: 0;
					-webkit-font-smoothing: antialiased;
					text-size-adjust: none;
					list-style: none;
					-webkit-tap-highlight-color: transparent;
					font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
					font-weight: 400;
					appearance: none;
					vertical-align: middle;
					outline: 0!important;
					display: inline-block;
					border: 0;
					float: none;
					width: 70px;
					height: 38px;
					padding: 0 10px;
					color: #fff;
					font-size: 16px;
					letter-spacing: -.8px;
					line-height: 1.5;
					background-color: #2763ba;
				
				}
				.input{
					visibility: visible;
					margin: 0;
					padding: 0;
					border-radius: 0;
					-webkit-font-smoothing: antialiased;
					text-size-adjust: none;
					list-style: none;
					-webkit-tap-highlight-color: transparent;
					font-family: 'Noto Sans KR Regular','Noto Sans CJK KR','Noto Sans KR','맑은 고딕',sans-serif;
					font-weight: 400;
					appearance: none;
					vertical-align: middle;
					outline: 0!important;
					height: 38px;
					padding-right: 10px;
					padding-left: 10px;
					border: 1px solid #ccc;
					color: #666;
					font-size: 16px;
					float: left;
					width: 151px;
					border-right: 0;
					line-height: inherit;
				
				
				}